html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.posts {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 750px;
}

.link {
  color: #777;
}
.linkActive a {
  color: red;
}
